<!DOCTYPE html>
<head>
    <div>
        <form action="/success_json" method="post" enctype="multipart/form-data">
            <input name="get_json_file" type="file"/>
            <input type="submit" value = "Upload JSON">
        </form>
    </div>
    <div>
        <form action="/success_csv" method="post" enctype="multipart/form-data">
            <input name="get_csv_file" type="file"/>
            <input type="submit" value = "Upload CSV">
        </form>
    </div>
</head>
<body>
</body>